* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
}

.main-section-empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    
}

.header {
    margin-top: -70px;
}

.header-img {
    height: 450px;
    width: 100vw;
    opacity: 0.1;
    position: relative;
}

.header-text {
    z-index: 1000;
    color: rgb(211, 211, 211);
    width: 100%;
    margin: auto;
    position: absolute;
    display: flex;
    gap: 14em;
    justify-content: space-between;
    align-items: center;
    top: 130px;
}

.title {
    z-index: 1000;
    margin-left: 100px;
    font-size: 4em;
    color: rgb(211, 211, 211);
}

a {
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 100px;
    letter-spacing: 1px;
    font-weight: 500;
}

.main-section-two {
    /* margin-top: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.add-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.add-img {
    height: 20px;
    cursor: pointer;
}

.your-watchlist {
    color: #787878;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.add-movies {
    color: rgb(255, 254, 254);
    font-size: 1.2em;
    cursor: pointer;
}

.btn {
    visibility: hidden;
}

/* movie card */

.movie-card {
    /* border: 1px solid red; */
    color: white;
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.movie-img {
    height: 300px;
    width: 200px;
    border-radius: 3px;
    margin-right: 30px;
}

/* Title Section */

.title-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.movie-title {
    font-weight: 300;
    margin: 0;
    color: rgb(219, 219, 217);
}

.star-icon {
    height: 25px;
    margin: 0;
}

.rating {
    padding-top: 5px;
    margin: 0;
    color: rgb(183, 183, 183);
}

/* Movie time and genre section */

.movie-length-div {
    display: flex;
    align-items: center;
    gap: 50px;
    color: rgb(183, 183, 183);
}

span {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

span > label {
    cursor: pointer;
}

.add-to-watchlist {
    height: 20px;
}

/* Movie description */

.movie-description > p {
    margin-top: 10px;
    font-size: 1.2em;
    color: rgb(151, 151, 151, 0.6);
    line-height: 1.5;
}

hr {
    width: 80%;
    background-color: rgba(176, 176, 176, 0.2);
    height: 1px;
    border: none;
}
